Package: com.pxx917144686.stay
Name: stay
Version: 0.1
Architecture: iphoneos-arm64-rootful
Maintainer: Nets
Author: pxx917144686
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)
Description: stay for ios 测试一下～
Icon: icon/icon.png